footer {
  display: none;
  box-sizing: border-box;


  @include media-min($tablet-u) {
    display: block;
    width: 100%;
    height: 20px;
    position: fixed;
    z-index: 0;
    bottom: 0;
    padding: $rem-xxs;
    color: $color-font-light;
    background-color: $background-color;

    h5 {
      font-size: $rem-s;
    }
  }

}
